@{
    ViewBag.Title = "Register";
}

@using MrFixIt.ViewModels

@model RegisterViewModel
<div class="create-job-page">
    <h2>Register a new worker</h2>
    <div class="trans-background">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.LabelFor(m => m.Email)<br />
            @Html.TextBoxFor(m => m.Email)<br />

            @Html.LabelFor(m => m.Password)<br />
            @Html.PasswordFor(m => m.Password)<br />

            @Html.LabelFor(m => m.ConfirmPassword)<br />
            @Html.PasswordFor(m => m.ConfirmPassword)<br />

            <input type="submit" value="Register" class="btn btn-default" />
        }
    </div>
</div>