
@model MrFixIt.Models.Job

<div class="trans-background">
    <h2>Would you like to do this job?</h2>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.JobId)
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.Description)

        <h4>@Model.Title</h4>
        <input type="submit" value="Claim This Job" />
    }
    <br />
    <h4>@Html.ActionLink("Back to list", "Index")</h4>
</div>