

@model MrFixIt.Models.Job

<div class="create-job-page">
    <h2>Create new Job</h2>
    <div class="trans-background">
        <h3>Add a new job</h3>
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.Title)<br />
            @Html.TextBoxFor(model => model.Title, new { @required = "true" })<br />
            @Html.LabelFor(model => model.Description)<br />
            @Html.TextBoxFor(model => model.Description, new { @required = "true" })<br />
            <input type="submit" value="Add new job" class="btn btn-default" />
        }
        
        <p>@Html.ActionLink("Back to list", "Index")</p>
    </div>
</div>