
<script type="text/javascript">
    $(document).ready(function () {
        $('.claim-view').click(function (event) {
            event.preventDefault();           
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: $(this).serialize(),
                url: '@Url.Action("Claim")',
                success: function (result) {
                    $('.display-claim').html(result);
                }
            });
        });
    });   
</script>

<div class="text-center current-jobs">
    <h2>Our Current Jobs</h2>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <div class="trans-background">
        <div class="list-jobs">           
                <h4>@Job.Title</h4>              
                <p>@Job.Description</p>
                @if (Job.Worker == null)
                {
                    <p>This job is unclaimed.</p>
                    <form action="Claim" class="claim-view">
                        <input type="hidden" value="@Job.JobId" name="id" />
                        <button type="submit">Claim this job</button>
                    </form>
                }
                else
                {
                    <p>This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</p>
                }
            
        </div>
    </div>
}
<div class="display-claim"></div>

