
@using MrFixIt.Models

<script type="text/javascript">
    $(document).ready(function () {
        $('.pending-view').submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize(),
                url: '@Url.Action("PendingJob", "Jobs")',               
                success: function (result) {
                    var resultMessage = "<strong>" + result.title + " - " + "</strong>" + result.description;
                    $('.display-pending').html(resultMessage);
                }
            });
        });
    });

    $(document).ready(function () {
        $('.completed-view').submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize(),
                url: '@Url.Action("CompletedJob", "Jobs")',              
                success: function (result) {
                    var resultMessage = "<strong>" + result.title + " - " + "</strong>" + result.description;
                    $('.display-completed').html(resultMessage);
                }
            });
        });
    });
</script>

@if (User.Identity.IsAuthenticated)
{
    <div class="trans-background">
        <div class="text-center">
            <h4>Hello @Model.FirstName @Model.LastName. You are Logged In</h4>
            <h3>Your Current Jobs:</h3>
            @foreach (var Job in Model.Jobs)
            {
                @if (Job.Completed == false)
                {
                    <div class="row">
                        <div class="col-sm-3">
                            <h4>@Job.Title</h4>
                        </div>

                        <div class="col-sm-4">
                            <form action="PendingJob" class="pending-view">
                                <input type="hidden" name="id" value="@Job.JobId" />
                                <button type="submit" class="btn btn-default">Add to jobs in progress</button>
                            </form>
                        </div>

                        <div class="col-sm-3">
                            <form action="CompletedJob" class="completed-view">
                                <input type="hidden" name="id" value="@Job.JobId" />
                                <button type="submit" class="btn btn-default">Add to completed jobs</button>
                            </form>
                        </div>
                    </div>
                }
            }
            @if (Model.Avaliable)
            {
                <h2>@Html.ActionLink("Add a new job", "Index", "Jobs").</h2>
            }
            else
            {
                <p>You are already assigned to a job.</p>
            }
        </div>
    </div>
}

<div class="trans-background">
    <div class="row">
        <div class="col-sm-6">
            <h4>Pending jobs</h4>
            <hr />
            @foreach (var Job in Model.Jobs)
            {
                @if (Job.Pending == true)
                {
                   <strong>@Job.Title</strong> <br />
                }
            }
            <div class="display-pending"></div>
        </div>
        <div class="col-sm-6">
            <h4>Completed jobs</h4>
            <hr />
            @foreach (var Job in Model.Jobs)
            {
                @if (Job.Completed == true)
                {
                   <strong>@Job.Title</strong> <br />
                }
            }
            <div class="display-completed"></div>                 
        </div>
    </div>
</div>
    